name: C CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Update apt repositories
      run: sudo apt -y update
    - name: Install dependencies
      run: sudo apt -y install check libtool-bin valgrind
    - name: Bootstrap project
      run: ./bootstrap.sh
    - name: Configure project with gcc compiler
      run: ./configure CC=gcc --enable-debug=yes --with-csv-module=yes --with-psql-module=yes
    - name: Compile project
      run: make
    - name: Run tests
      run: make check
