name: C CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Update apt repositories
      run: sudo apt -y update
    - name: Install dependencies
      run: sudo apt -y install check libtool-bin valgrind
    - name: Bootstrap project
      run: ./bootstrap.sh
    - name: Configure project with gcc compiler (all options enabled)
      run: ./configure CC=gcc --enable-debug=yes --with-check=yes --with-csv-module=yes --with-psql-module=yes
    - name: Compile project (all options enabled)
      run: make
    - name: Run tests (all options enabled)
      run: make check
    - name: Configure project with gcc compiler (all options disabled)
      run: ./configure CC=gcc --enable-debug=no --with-check=yes --with-csv-module=no --with-psql-module=no
    - name: Compile project (all options disabled)
      run: make
    - name: Run tests (all options disabled)
      run: make check
