name: Code formatting

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - name: Update apt repositories
      run: sudo apt -y update

    - name: Install apt dependencies
      run: sudo apt -y install clang-format python3 python3-pip

    - name: Install pip dependencies
      run:  python -m pip install black

    - name: Check formatting with clang-format
      run: clang-format --dry-run lib/*.{c,h} bin/*.{c,h} tests/*.c tests/unit/*.c

    - name: Check formatting with black
      run: black --check *.py tests/*.py
